@page
@model VirtMuseWeb.Pages.Resources.MetaData.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MetaData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MetaData.ID" class="control-label"></label>
                <select asp-for="MetaData.ID" class ="form-control" asp-items="ViewBag.ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MetaData.NameOfPiece" class="control-label"></label>
                <input asp-for="MetaData.NameOfPiece" class="form-control" />
                <span asp-validation-for="MetaData.NameOfPiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaData.DateOfCreation" class="control-label"></label>
                <input asp-for="MetaData.DateOfCreation" class="form-control" />
                <span asp-validation-for="MetaData.DateOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaData.FurtherInformation" class="control-label"></label>
                <input asp-for="MetaData.FurtherInformation" class="form-control" />
                <span asp-validation-for="MetaData.FurtherInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaData.License" class="control-label"></label>
                <input asp-for="MetaData.License" class="form-control" />
                <span asp-validation-for="MetaData.License" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaData.ResourceID" class="control-label"></label>
                <input asp-for="MetaData.ResourceID" class="form-control" />
                <span asp-validation-for="MetaData.ResourceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
