# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
Prototype/
RoomGenPrototype/Library/
*.userprefs
RoomGenPrototype/Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt.meta
RoomGenPrototype/Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt
RoomGenPrototype/Assets/TextMesh Pro/Plugins/Runtime DLL/TextMeshPro-2017.3-Runtime.dll.meta
RoomGenPrototype/Assets/TextMesh Pro/Plugins/Runtime DLL/TextMeshPro-2017.3-Runtime.dll
RoomGenPrototype/Assets/TextMesh Pro/Plugins/Editor DLL/TextMeshPro-2017.3-Runtime.dll.meta
RoomGenPrototype/Assets/TextMesh Pro/Plugins/Editor DLL/TextMeshPro-2017.3-Runtime.dll
RoomGenPrototype/Assets/TextMesh Pro/Plugins/Editor DLL/TextMeshPro-2017.3-Editor.dll.meta
RoomGenPrototype/Assets/TextMesh Pro/Plugins/Editor DLL/TextMeshPro-2017.3-Editor.dll
RoomGenPrototype/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_PhoneNumberValidator.cs.meta
RoomGenPrototype/Assets/TextMesh Pro/Examples & Extras/Scripts/TMP_PhoneNumberValidator.cs
RoomGenPrototype/Assembly-CSharp.csproj
RoomGenPrototype/Assembly-CSharp-firstpass.csproj
RoomGenPrototype/Assembly-CSharp-Editor-firstpass.csproj
