@page
@model VirtMuseWeb.Pages.Resources.ResourceData.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ResourceData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResourceData.ID" />
            <div class="form-group">
                <label asp-for="ResourceData.Data" class="control-label"></label>
                <input asp-for="ResourceData.Data" class="form-control" />
                <span asp-validation-for="ResourceData.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourceData.ResourceID" class="control-label"></label>
                <select asp-for="ResourceData.ResourceID" class="form-control" asp-items="ViewBag.ResourceID"></select>
                <span asp-validation-for="ResourceData.ResourceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
