@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>WELCOME TO THE VIRTUAL MUSEUM WEBSITE</h1>
<h2> There is literally nothing of interest here, except for resource uploading</h2>
