@page
@model VirtMuseWeb.Pages.ResourceCreatorModel
@{
    ViewData["Title"] = "ResourceCreator";
}


<h2>ResourceCreator</h2>

<p data-bind="text: test"></p>


@section scripts{

    <script>
        require(["app"]);
    </script>

}